<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="pi pi-bars"></i>
        </button>
    </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <img class="logo" src="../assets/logo-qs2.png" alt="Quick Sales">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="mb-4">
          Navega por las diferentes opciones de menú
        </div>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/home"><i class="pi pi-home"></i> <b> Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active link-secondary" aria-current="page" href="/usuarios"><i class="pi pi-users"></i> <b> Usuarios</b></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link link-secondary" href="/productos"><i class="pi pi-box"></i> <b> Productos</b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

