<app-header></app-header>

<!-- Inicio - Home -->
<div class="container-fluid" id="home">
  <div class="container-xxl" id="textoTituloInicial">
    <img class="logo" src="../assets/logo-qs.png" alt="Quick Sales">
    <br>

    <p class="texto-negro">Somos una futura empresa en <b>Colombia</b>, con sede principal en <b>Barranquilla.</b> <br> Operamos en el
      sector de la <b>Fabricación de Software y Soluciones Digitales.</b></p>
    <a class="btn btn-danger"><i class="pi pi-check"></i> <b> Contáctanos</b></a>
    <br>
    <br>
    <p class="texto-negro"><b>Software de ventas para comercios</b></p>
  </div>
</div>

<!-- Sobre Nosotros -->
<div class="rojo">
  <div class="container-xxl text-center">
    <div class="container" id="AboutUs" data-aos="fade-down" data-aos-duration="1000">

      <div class="mb-5">
        <h1 class="display-6 texto-rojo">Sobre Nosotros</h1>
      </div>

      <div class="mb-5">
        <p class="texto-15">
          <b>Quick Sales</b> transforma tu negocio, con nuestro <b>software de ventas</b>
          diseñado especialmente para <b>micro comercios.</b> Con una interfaz amigable y
          herramientas intuitivas, <b>podrás</b>:<br><br>
          - <b>Gestionar inventarios </b> de manera eficiente.<br>
          - <b>Realizar ventas </b> rápidas y sencillas.<br>
          - <b>Generar reportes</b> para tomar decisiones informadas.<br>
          - <b>Ofrecer promociones</b> personalizadas a tus clientes.<br><br>
        </p>
        <a href="https://es-la.facebook.com/" target="_blank"><i class="pi pi-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="pi pi-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=3013956671" target="_blank"><i class="pi pi-whatsapp"></i></a>
      </div>

    </div>
  </div>
</div>


