<!--* Navbar-->
<app-header></app-header>

<!--*Title module-->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 text-center">
      <p-chip><h2 id="" class="text-danger"> <b> Gestión de Productos</b></h2></p-chip>
    </div>
    <p-divider></p-divider>
  </div>
</div>

<!--* Card-->
<p-card>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button (click)="loadModal(true)" type="button" class="btn btn-danger mr-2"><i class="pi pi-plus"></i> <b> Crear</b></button>
  </div>
  <!--* Title Card-->
  <div class="mb-3">
    <h5 class="text-danger"><i class="pi pi-box text-danger"></i> Productos</h5>
  </div>
  <!--* Table -->
  <p-table
  #dt
  [value]="products"
  [rowHover]="true"
  [resizableColumns]="true"
  columnResizeMode="expand"
  styleClass="p-datatable-sm"
  responsiveLayout="scroll"
  [rowHover]="true"
  [scrollable]="true"
  scrollHeight="50rem">
    <ng-template pTemplate="header">
        <tr>
          <th><input (input)="applyFilter($event, 'Prod_Id')" pInputText type="number" style="width: 100%;"></th>
          <th><input (input)="applyFilter($event, 'Prod_Nombre')" pInputText type="text" style="width: 100%;"></th>
          <th><input (input)="applyFilter($event, '')" pInputText type="number" style="width: 100%;"></th>
          <th><input (input)="applyFilter($event, 'Und_Id')" pInputText type="text" style="width: 100%;"></th>
          <th><input (input)="applyFilter($event, 'Prod_Precio')" pInputText type="number" style="width: 100%;"></th>
          <th><input (input)="applyFilter($event, '')" pInputText type="number" style="width: 100%;"></th>
          <th colspan="2"></th>
        </tr>
        <tr>
            <th pSortableColumn="Prod_Id" class="text-center"><p-sortIcon field="Prod_Id"></p-sortIcon> Id</th>
            <th pSortableColumn="Prod_Nombre" class="text-center"><p-sortIcon field="Prod_Nombre"></p-sortIcon> Nombre</th>
            <th pSortableColumn="" class="text-center"><p-sortIcon field=""></p-sortIcon> Cantidad</th>
            <th pSortableColumn="Und_Id" class="text-center"><p-sortIcon field="Und_Id"></p-sortIcon> Unidad</th>
            <th pSortableColumn="Prod_Precio" class="text-center"><p-sortIcon field="Prod_Precio"></p-sortIcon> Precio</th>
            <th pSortableColumn="" class="text-center"><p-sortIcon field=""></p-sortIcon> Subtotal</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td class="text-center">{{data.Prod_Id}}</td>
            <td>{{data.Prod_Nombre}}</td>
            <td class="text-center">{{0}}</td>
            <td class="text-center">{{data.Und_Id}}</td>
            <td class="text-center">$ {{data.Prod_Precio | number : '1.2-2'}}</td>
            <td class="text-center">$ {{data.Prod_Precio * 0}}</td>
            <td>
              <button (click)="loadModal(false, data)" type="button" class="btn btn-success mr-2"><i class="pi pi-refresh"></i></button>
            </td>
            <td class="text-center">
              <button (click)="deleteProducts(data)" type="button" class="btn btn-danger mr-2"><i class="pi pi-trash"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total hay {{products ? products.length : 0 }} productos.
        </div>
    </ng-template>
</p-table>

</p-card>

<!--* Modal-->
<p-dialog header="Formulario" [(visible)]="modal" [modal]="true" [style]="{width: '30vw'}">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="id" class="form-label">Id Producto</label>
      <input formControlName="id" type="number" [readOnly]="true" class="form-control" id="id">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input formControlName="name" type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <input formControlName="description" type="text" class="form-control" id="description">
    </div>
    <div class="mb-3">
      <label for="medition" class="form-label">Medida</label>
      <input formControlName="medition" type="text" class="form-control" id="medition">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input formControlName="price" type="number" class="form-control" id="price">
    </div>
    <div class="mb-3">
      <p-dropdown formControlName="unit" [options]="units" optionLabel="Und_Id" optionValue="Und_Id" [autoDisplayFirst]="true"></p-dropdown>
    </div>
    <div class="d-grid gap-2">
      <button (click)="actionsModal(actionButton)" type="button"  class="btn {{classButton}} mr-2"><i class="pi {{iconButton}}"></i> {{actionButton}}</button>
    </div>
  </form>
</p-dialog>

<p-dialog id="modal-1" [(visible)]="load" [modal]="true">
  <p-progressSpinner></p-progressSpinner>
</p-dialog>

<p-toast position="center" [preventOpenDuplicates]="true" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
