<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">

    <!-- principal -->
    <div class="mb-4 text-center">
      <h2 id="" class="text-danger">Gestión de Productos</h2>
    </div>

    <p-divider></p-divider>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button (click)="loadModal(true)" type="button" class="btn btn-danger mr-2"><i class="pi pi-plus"></i> <b> Crear Producto</b></button>
  </div>

  <div class="mb-3">
    <h5 class="text-danger"><i class="pi pi-box text-danger"></i> Productos</h5>
  </div>

  <p-table [value]="products" [rowHover]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{data.Prod_Id}}</td>
            <td>{{data.Prod_Nombre}}</td>
            <td>{{0}}</td>
            <td>{{data.Und_Id}}</td>
            <td>{{data.Prod_Precio | number : '1.2-2'}}</td>
            <td>{{data.Prod_Precio * 0}}</td>
            <td>
              <button (click)="loadModal(false, data)" type="button" class="btn btn-success mr-2"><i class="pi pi-refresh"></i></button>
            </td>
            <td>
              <button (click)="modal = true" type="button" class="btn btn-danger mr-2"><i class="pi pi-trash"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total hay {{products ? products.length : 0 }} productos.
        </div>
    </ng-template>
</p-table>

</p-card>

<p-dialog header="Formulario" [(visible)]="modal" [style]="{width: '30vw'}">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="id" class="form-label">Id Producto</label>
      <input formControlName="id" type="number" [readOnly]="true" class="form-control" id="id">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input formControlName="name" type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <input formControlName="description" type="text" class="form-control" id="description">
    </div>
    <div class="mb-3">
      <label for="medition" class="form-label">Medida</label>
      <input formControlName="medition" type="text" class="form-control" id="medition">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input formControlName="price" type="number" class="form-control" id="price">
    </div>
    <div class="mb-3">
      <p-dropdown formControlName="unit" [options]="units" optionLabel="Und_Id" optionValue="Und_Id" [autoDisplayFirst]="true"></p-dropdown>
    </div>
    <div class="d-grid gap-2">
      <button (click)="actionsModal(actionButton)" type="button"  class="btn {{classButton}} mr-2"><i class="pi {{iconButton}}"></i> {{actionButton}}</button>
    </div>
  </form>
</p-dialog>

<p-toast position="center" [preventOpenDuplicates]="true" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
